<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="//treetopflyer.github.io/vcore/lib.js"></script>
        <script>
        function shuffle(array)
        {
            var currentIndex = array.length, temporaryValue, randomIndex;

            // While there remain elements to shuffle...
            while (0 !== currentIndex) {

                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                // And swap it with the current element.
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }

            return array;
        }
        function wrap(inSample, inMin, inMax)
        {
            range = inMax - inMin
            loop = (inSample - inMin) % range;
            if(loop < 0){ loop += range; }
            return loop;
        }
        var NL = {};
        NL.Sigmoid = function(inAmount)
        {
            return 1 / (1 + Math.pow(2, -inAmount));
        };
        NL.Cell = function(inX, inY)
        {
            var obj = {};
            obj.Pos = [inX, inY];
            obj.Neighbors = [];
            obj.Field = [];
            obj.Charge = 0;
            obj.Conform = 0;

            obj.GetRF = function()
            {
                var i;
                var out;
                out = [];
                for(i=0; i<obj.Field.length; i++)
                {
                    out[i] = obj.Field[i].Weight;
                }
            };

            obj.SetRF = function(inVector)
            {
                var i;
                for(i=0; i<inVector.length; i++)
                {
                    obj.Field[i].Weight = inVector[i];
                }
            };

            return obj;
        };
        NL.Grid = function(inWidth, inHeight)
        {
            var x, y, i;
            var cell, neighbor;
            var min, max;
            var obj = {};

            obj.Cell = [];
            obj.Cells = [];
            for(x=0; x<inWidth; x++)
            {
                obj.Cell[x] = [];
                for(y=0; y<inHeight; y++)
                {
                    cell = NL.Cell(x, y);
                    obj.Cell[x][y] = cell;
                    obj.Cells.push(cell);
                }
            };

            obj.RadialSelect = function(inX, inY, inRadius, inWrap, inHandler)
            {
                var min, max;
                var cell;
                var coords;
                var oob;
                min = [inX - inRadius, inY - inRadius];
                max = [inX + inRadius, inY + inRadius];
                center = [inX, inY];
                for(x=min[0]; x<=max[0]; x++)
                {
                    for(y=min[1]; y<=max[1]; y++)
                    {
                        radius = V.Distance(center, [x, y]);
                        if(radius <= inRadius)
                        {
                            neighbor = {};
                            coords = [x, y];
                            oob = false;

                            if(coords[0] > obj.Cell.length-1)
                            {
                                coords[0] -= obj.Cell.length;
                                oob = true;
                            }
                            if(coords[1] > obj.Cell[0].length-1)
                            {
                                coords[1] -= obj.Cell[0].length;
                                oob = true;
                            }
                            if(coords[0] < 0)
                            {
                                coords[0] += obj.Cell.length;
                                oob = true;
                            }
                            if(coords[1] < 0)
                            {
                                coords[1] += obj.Cell[0].length;
                                oob = true;
                            }

                            if(oob && !inWrap)
                            {
                                continue;
                            }
                            
                            inHandler(obj.Cell[coords[0]][coords[1]], radius);
                        }
                    }
                }
            };

            obj.Observe = function(inGrid, inMin, inMax, inRadius)
            {
                var i;
                var cell;
                var coordsHere, coordsThere;
                var boundsHere, boundsThere;

                boundsHere = [[0, 0], [obj.Cell.length, obj.Cell[0].length]];
                boundsThere = [inMin, inMax];

                for(i=0; i<obj.Cells.length; i++)
                {
                    cell = obj.Cells[i];
                    coordsHere = M.GlobalToLocal([cell.Pos], boundsHere);
                    coordsThere = M.LocalToGlobal(coordsHere, boundsThere)[0];
                    coordsThere[0] = Math.floor(coordsThere[0]);
                    coordsThere[1] = Math.floor(coordsThere[1]);
                    
                    inGrid.RadialSelect(coordsThere[0], coordsThere[1], inRadius, false, function(inCell, inDistance)
                    {
                        if(inDistance == 0)
                        {
                            rel = 0;
                        }
                        else
                        {
                            rel = (inDistance/inRadius);
                        }
                        mapping = Math.abs((rel*3)-2)-1;
                        //mapping = Math.random()*0.3 - 0.15;
                        cell.Field.push({
                            Cell:inCell,
                            Weight:mapping
                        });
                    });

                }
            };

            obj.Lateral = function(inRadius)
            {
                var cell;
                var rel;
                var mapping;
                for(i=0; i<obj.Cells.length; i++)
                {
                    cell = obj.Cells[i];
                    obj.RadialSelect(cell.Pos[0], cell.Pos[1], inRadius, false, function(inCell, inDistance)
                    {
                        if(inDistance == 0)
                        {
                            rel = 0;
                        }
                        else
                        {
                            rel = (inDistance/inRadius);
                        }
                        mapping = Math.abs((rel*3)-2)-1;
                        cell.Neighbors.push({
                            Cell:inCell,
                            Weight:mapping
                        });
                    });
                }
                return obj;
            };

            obj.Evaluate = function()
            {
                var i, j;
                var cell;
                for(i=0; i<obj.Cells.length; i++)
                {
                    cell = obj.Cells[i];
                    cell.Conform = 0;
                }
                for(i=0; i<obj.Cells.length; i++)
                {
                    cell = obj.Cells[i];
                    cell.Charge = 0;
                    for(j=0; j<cell.Field.length; j++)
                    {
                        cell.Charge += (cell.Field[j].Cell.Charge * cell.Field[j].Weight);
                    }
                    cell.Charge = NL.Sigmoid(cell.Charge)*2 - 1;
                    for(j=0; j<cell.Neighbors.length; j++)
                    {
                        cell.Neighbors[j].Cell.Conform += cell.Charge*cell.Neighbors[j].Weight;
                    }
                }
                for(i=0; i<obj.Cells.length; i++)
                {
                    cell = obj.Cells[i];
                    cell.Conform = NL.Sigmoid(cell.Conform);
                }
            };

            obj.Conform = function(inAmount)
            {
                var i, j;
                var cell;
                var diff;
                var sample;
                for(i=0; i<obj.Cells.length; i++)
                {
                    cell = obj.Cells[i];
                    for(j=0; j<cell.Field.length; j++)
                    {
                        sample = cell.Field[j].Cell.Charge;
                        diff = (sample - cell.Field[j].Weight)*inAmount*cell.Conform;
                        cell.Field[j].Weight += diff;
                    }
                }
            };
            /**************************************/

            obj.StochEval = function()
            {
                var rand = shuffle(obj.Cells);
                var i, j;
                for(i=0; i<rand.length; i++)
                {
                    cell = rand[i];
                    cell.Charge = 0;
                    for(j=0; j<cell.Field.length; j++)
                    {
                        cell.Charge += (cell.Field[j].Cell.Charge * cell.Field[j].Weight);
                    }
                    cell.Charge = NL.Sigmoid(cell.Charge)*2 - 1;

                    for(j=0; j<cell.Neighbors.length; j++)
                    {
                        var neighbor = cell.Neighbors[j];
                        obj.StochConf(neighbor.Cell, cell.Charge*neighbor.Weight*0.001);
                    }
                }
            };
            obj.StochConf = function(inCell, inAmount)
            {
                var j;
                var sample;
                var diff;
                for(j=0; j<inCell.Field.length; j++)
                {
                    if(Math.random() < 0.3)
                    {
                        continue;
                    }
                    sample = inCell.Field[j];
                    diff = (sample.Cell.Charge - sample.Weight)*inAmount;
                    sample.Weight += diff;
                }
            };

            return obj;
        };
        </script>
        <style>
            *
            {
                position:relative;
                margin:0;
                padding:0;
                border:0;
                font-family:Arial;
            }
            .Cell
            {
                position:absolute;
                /*border:1px solid #ddd;*/
            }
            .Cell .Fill
            {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:#000;
                opacity:0;
            }
        </style>
    </head>
    <body>
        <div ng-app="App" ng-controller="Controller" ng-cloak ng-keypress="HandlerKeys($event)">
            <button ng-click="ShowWeights = !ShowWeights">ShowWeights</button>

            <!-- layer1 weights -->
            <div style="position:relative;" ng-if="ShowWeights">
                <div ng-repeat="cell in ActiveLayer.Cells track by $index" style="position:realtive; left:{{cell.Pos[0]*100}}px; top:{{cell.Pos[1]*100}}px;">
                    <div class="Cell" ng-repeat="connection in cell.Field track by $index" style="{{CSSPosition(connection.Cell)}}">
                        <div class="Fill" style="{{CSSColor(connection.Weight)}}"></div>
                    </div>
                </div>
            </div>

            <!---->
            <div class="Layer">
                <div class="Controls">
                    <button ng-repeat="state in States track by $index" ng-click="Recall($index);">Recall</button> 
                    |
                    <button ng-click="Capture(LGN);">Capture</button>
                </div>
                <div class="Activations" style="{{CSSSize(LGN)}}">
                    <div class="Cell" ng-click="Toggle(cell);" ng-repeat="cell in LGN.Cells track by $index" style="{{CSSPosition(cell)}}">
                        <div class="Fill" style="{{CSSColor(cell.Charge)}}"></div>
                    </div>
                </div>
            </div>
            <div ng-repeat="layer in Layers track by $index" class="Layer">
                <div class="Controls" ng-if="ActiveLayer == $index">
                    <button ng-click="layer.Evaluate()">Evaluate</button>
                </div>
                <div class="Controls" ng-if="ActiveLayer != $index">
                    <button ng-click="Activate($index);">Activate This Layer</button>
                </div>
                
                <div class="Activations" style="{{CSSSize(layer)}}">
                    <div class="Cell" ng-repeat="cell in layer.Cells track by $index" style="{{CSSPosition(cell)}}">
                        <div class="Fill" style="{{CSSColor(cell.Charge)}}"></div>
                    </div>
                </div>
            </div>

        </div>
        <script>
            var App;
            App = angular.module("App", []);
            App.controller("Controller", ["$scope", function($scope)
            {
                
                $scope.Size = 8;
                $scope.LGN = NL.Grid(10, 10);
                $scope.Layers = [];
                $scope.ActiveLayer = false;
                $scope.Sigmoid = NL.Sigmoid;
                $scope.ShowWeights = false;
                
                var layer1, layer2;
                layer1 = NL.Grid(30, 30);
                layer1.Lateral(10);
                layer1.Observe($scope.LGN, [-3, -3], [13, 13], 6);
                $scope.Layers.push(layer1);
                
                layer2 = NL.Grid(10, 10);
                layer2.Lateral(5);
                layer2.Observe(layer1, [-2, -2], [32, 32], 6);
                $scope.Layers.push(layer2);

                $scope.States = [
                    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,1,-1,-1,-1,-1,0,0,0,0,0,0,-1,-1,-1,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,1,1,1,1,1,1,1,-1,-1,0,0,0,1,1,1,1,1,-1,-1,0,0,0,0,0,0,-1,-1,-1,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,-1,-1,-1,-1,-1,0,0,0,1,1,-1,-1,-1,-1,1,1,0,0,1,1,-1,-1,-1,-1,1,1,0,0,1,1,0,0,0,0,1,1,0,0,1,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,1,1,1,0,-1,-1,-1,-1,-1,1,1,1,1,-1,-1,-1,-1,-1,1,1,1,1,1,-1,-1,-1,-1,1,1,1,1,0,0,-1,-1,-1,1,1,1,1,0,0,0,-1,-1,-1,1,1,0,0,0,0,0,-1,-1,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,-1,1,1,-1,-1,0,0,0,0,-1,-1,1,1,-1,-1,0,0,0,1,1,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,0,0,0,-1,-1,1,1,-1,-1,0,0,0,0,-1,-1,1,1,-1,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,-1,-1,-1,1,1,1,1,0,0,0,-1,-1,-1,1,1,1,1,0,0,0,0,-1,-1,1,1,1,1,0,0,-1,-1,-1,-1,-1,1,1,1,0,0,0,0,0,0,-1,-1,1,1,0,0,0,0,0,0,0,-1,-1,1,0,0,0,0,0,0,0,0,-1,1,0,0,0,0,0,0,0,0,-1,1,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,-1]
                ];
                $scope.CSSPosition = function(inCell)
                {
                    return "left:"+inCell.Pos[0]*$scope.Size+"px; top:"+inCell.Pos[1]*$scope.Size+"px; width:"+$scope.Size+"px; height:"+$scope.Size+"px;";
                };
                $scope.CSSColor = function(inFade)
                {
                    if(inFade < 0)
                    {
                        return "background:#00f; opacity:"+(-inFade);
                    }
                    else
                    {
                        return "background:#f00; opacity:"+(inFade);
                    }
                };
                $scope.CSSSize = function(inLayer)
                {
                    return "width:"+inLayer.Cell.length*$scope.Size+"px; height:"+inLayer.Cell[0].length*$scope.Size+"px;";
                };
                $scope.Activate = function(inLayer)
                {
                    console.log(inLayer);
                    $scope.ActiveLayer = inLayer;
                };
                $scope.Toggle = function(inCell)
                {
                    switch(inCell.Charge)
                    {
                        case 0 :
                            inCell.Charge = 1;
                            break;
                        case 1 :
                            inCell.Charge = -1;
                            break;
                        case -1 :
                            inCell.Charge = 0;
                            break;
                    }
                };
                $scope.Capture = function(inLayer)
                {
                    var state = [];
                    var i;
                    for(i=0; i<inLayer.Cells.length; i++)
                    {
                        state.push(inLayer.Cells[i].Charge);
                    }
                    $scope.States.push(state);
                    console.log(state.toString());
                }
                $scope.Recall = function(inIndex)
                {
                    var state;
                    var i;
                    
                    state = $scope.States[inIndex];

                    for(i=0; i<$scope.LGN.Cells.length; i++)
                    {
                        $scope.LGN.Cells[i].Charge = state[i];
                    }
                };
                $scope.HandlerKeys = function(inEvent)
                {
                    var index;
                    index = inEvent.charCode - 49;
                    if(index > -1 && index < $scope.States.length)
                    {
                        $scope.Recall(index);
                        console.log("Active Layer", $scope.ActiveLayer);
                        var i;
                        for(i=0; i<$scope.ActiveLayer; i++)
                        {
                            $scope.Layers[i].Evaluate();
                        }
                        $scope.Layers[$scope.ActiveLayer].Conform(0.01);
                        $scope.Layers[$scope.ActiveLayer].Evaluate();
                    }
                };
            }]);
        </script>
    </body>
</html>
